# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
logs/
*.log

# Java bytecode
*.class

# Arquivos de pacote
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ferramentas de desenvolvimento
.idea/
*.iml
*.iws
*.ipr
.vscode/
